<button mat-button color="primary" data-toggle="modal" data-target="#modal-preview" (click)="refresh()">Preview</button>
<div class="modal fade" id="modal-preview" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog mw-100 w-90" role="document">
        <div class="modal-content">
            <div class="modal-body" #redoc>
                <div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>