<mat-form-field>
    <mat-select placeholder="Type" [(value)]="schema.type" (selectionChange)="typeChanged()">
        <mat-option *ngFor="let type of schemaTypes" value="{{type}}">
            {{type}}
        </mat-option>
    </mat-select>
</mat-form-field>
<!-- If param show description and nullable, if type is number show format -->
<mat-form-field *ngIf="!isParam">
    <input matInput placeholder="Description" [(ngModel)]="schema.description">
</mat-form-field>
<mat-form-field *ngIf="schema.type === 'number'">
    <input matInput placeholder="Format" [(ngModel)]="schema.format">
</mat-form-field>
<mat-slide-toggle *ngIf="!isParam" [(ngModel)]="schema.nullable">Nullable</mat-slide-toggle>
<!-- If type is object display properties -->
<div *ngIf="schema.appProperties !== undefined && schema.appProperties !== null">
    Properties <button color="primary" mat-button><i (click)="addProperty()" class="material-icons">add</i></button>
    <div class="list-group">
        <div class="list-group-item" *ngFor="let property of schema.appProperties">
            <mat-form-field><input matInput placeholder="Name" [(ngModel)]="property.name"></mat-form-field>
            <schemaform [schema]="property" [isParam]="isParam"></schemaform>
            <button mat-button (click)="removeProperty(property)" color="warn"><i
                    class="material-icons">clear</i></button>
        </div>
    </div>
</div>
<!-- If type is array display schema -->
<div *ngIf="schema.items !== undefined && schema.items !== null">
    Array Schema
    <div class="list-group">
        <div class="list-group-item">
            <schemaform [schema]="schema.appItems" [isParam]="isParam"></schemaform>
        </div>
    </div>
</div>