<button mat-button color="primary" (click)="back()"><i class="material-icons">keyboard_backspace</i></button>
<mat-form-field>
<input matInput placeholder="Path" [(ngModel)]="path.name">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Summary" [(ngModel)]="path.summary">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="path.description">
</mat-form-field>
<!-- Add operation -->
<mat-form-field class="w-75">
    <mat-select placeholder="Method" [(value)]="methodSelected">
        <mat-option *ngFor="let method of methods" value="{{method}}">{{method}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-button color="primary" (click)="addOperation()" [disabled]="!methods.length"><i
        class="material-icons">add</i></button>
<!-- Operations accordion -->
<mat-accordion>
    <mat-expansion-panel *ngFor="let op of path.operations">
        <mat-expansion-panel-header>
            <p>{{op.method}}
                <button mat-button color="warn" (click)="removeOperation(op)"><i
                        class="material-icons">clear</i></button>
            </p>
        </mat-expansion-panel-header>
        <operation [operation]="op"></operation>
    </mat-expansion-panel>
</mat-accordion>
