<p>
    Params
    <button mat-button (click)="addParam()">
        <i class="material-icons">add</i>
    </button>
    <button mat-button (click)="toggleCollapse()">
        <i class="material-icons">{{collapsed ? 'expand_more' : 'expand_less'}}</i>
    </button>
</p>
<div class="list-group collapse show" id="list-params">
    <div class="list-group-item" *ngFor="let param of params">
        <mat-form-field>
            <mat-select placeholder="Location" [(value)]="param.in">
                <mat-option *ngFor="let location of paramLocations" value="{{location.toLowerCase()}}">
                    {{location}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="param.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="param.description">
        </mat-form-field>
        <schemaform [schema]="param.schema"></schemaform>
        <mat-slide-toggle [(ngModel)]="param.required">Required</mat-slide-toggle><br>
        <button mat-button (click)="removeParam(param)"><i class="material-icons">clear</i></button>
    </div>
</div>