<mat-form-field>
    <input matInput placeholder="Summary" [(ngModel)]="operation.summary">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="operation.description">
</mat-form-field>
<mat-slide-toggle [(ngModel)]="operation.deprecated">Deprecated</mat-slide-toggle>
<p>
    Parameters
    <button mat-button color="primary" (click)="addParam()">
        <i class="material-icons">add</i>
    </button>
</p>
<div class="list-group" id="list-params">
    <div class="list-group-item" *ngFor="let param of operation.parameters">
        {{param.name ? param.name : 'New param' }}
        <button mat-button color="primary" (click)="editParam(param)"><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="removeParam(param)"><i class="material-icons">clear</i></button>
    </div>
</div>
<p>
    Responses
    <button mat-button color="primary" (click)="addResponse()" id="addResponse">
        <i class="material-icons">add</i>
    </button>
</p>
<div class="list-group" id="list-responses">
    <div class="list-group-item" *ngFor="let response of operation.responses ">
        {{response.status ? response.status : 'New response' }}
        <button mat-button color="primary" (click)="editResponse(response)"><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="removeResponse(response)"><i class="material-icons">clear</i></button>
    </div>
</div>