<mat-form-field class="w-75">
    <input matInput placeholder="Path" [(ngModel)]="path.path">
</mat-form-field>
<button mat-button data-toggle="modal" data-target="#modal" (click)="refresh()">Preview</button>
<mat-form-field class="w-75">
    <mat-select placeholder="Method" [(value)]="methodSelected">
        <mat-option *ngFor="let method of methods" value="{{method}}">{{method}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-button (click)="addOperation()" [disabled]="!methods.length"><i class="material-icons">add</i></button>
<mat-accordion>
    <mat-expansion-panel *ngFor="let op of path.operations">
        <mat-expansion-panel-header>
            <p>{{op.method}}
                <button mat-button (click)="removeOperation(op)"><i class="material-icons">clear</i></button>
            </p>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="op.description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Summary" [(ngModel)]="op.summary">
        </mat-form-field>
        <paramsform [params]="op.params"></paramsform>
        <responses-form [responses]="op.responses"></responses-form>
    </mat-expansion-panel>
</mat-accordion>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
    >
    <div class="modal-dialog mw-100 w-90" role="document">
        <div class="modal-content">
            <div class="modal-body" #redoc>
                <redoc></redoc>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>