<p>
    Responses
    <button mat-button color="primary" (click)="addResponse()" id="addResponse">
        <i class="material-icons">add</i>
    </button>
    <button mat-button (click)="toggleCollapse()">
        <i class="material-icons">{{collapsed ? 'expand_more' : 'expand_less'}}</i>
    </button>
</p>
<div class="list-group collapse show" id="list-responses">
    <div class="list-group-item" *ngFor="let response of responses">
        {{response.status ? response.status : 'New response' }}
        <button mat-button color="primary" (click)="editResponse(response)"><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="removeResponse(response)"><i class="material-icons">clear</i></button>
    </div>
</div>