<p>
    Responses 
    <button mat-button (click)="addResponse()" id="addResponse">
        <i class="material-icons">add</i>
    </button>
    <button mat-button (click)="toggleCollapse()">
        <i class="material-icons">{{collapsed ? 'expand_more' : 'expand_less'}}</i>
    </button>
</p>
<div class="list-group collapse show" id="list-responses">
    <div class="list-group-item" *ngFor="let response of responses">
        <mat-form-field>
            <mat-select placeholder="Type" [(value)]="response.type">
                <mat-option *ngFor="let type of contentTypes" value="{{type}}">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status code" [(ngModel)]="response.status">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="response.description">
        </mat-form-field>
        <schemaform [schema]="response.schema"></schemaform>
        <!-- <mat-slide-toggle [(ngModel)]="param.required">Required</mat-slide-toggle><br> -->
        <button mat-button (click)="removeResponse(response)"><i class="material-icons">clear</i></button>
    </div>
</div>