<p>
    Params
    <button mat-button color="primary" (click)="addParam()">
        <i class="material-icons">add</i>
    </button>
    <button mat-button (click)="toggleCollapse()">
        <i class="material-icons">{{collapsed ? 'expand_more' : 'expand_less'}}</i>
    </button>
</p>
<div class="list-group collapse show" id="list-params">
    <div class="list-group-item" *ngFor="let param of params">
        {{param.name ? param.name : 'New param' }}
        <button mat-button color="primary" (click)="editParam(param)" ><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="removeParam(param)"><i class="material-icons">clear</i></button>
    </div>
</div>