<mat-form-field>
    <input matInput placeholder="Api title" [(ngModel)]="info.title">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Api version" [(ngModel)]="info.version">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="info.description">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Contact name" [(ngModel)]="info.contact.name">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Contact email" [(ngModel)]="info.contact.email">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Terms of service" [(ngModel)]="info.termsOfService">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="License name" [(ngModel)]="info.license.name">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="License url" [(ngModel)]="info.license.url">
</mat-form-field>