<app-preview [root]="root" ></app-preview>
<app-export-import [(root)]="root"></app-export-import>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>Info</mat-expansion-panel-header>
        <app-info [(info)]="root.info"></app-info>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Servers
            <button mat-button color="primary" (click)="addServer()">
                <i class="material-icons">add</i>
            </button>
        </mat-expansion-panel-header>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let server of root.servers">
                {{server.url ? server.url : 'New server' }}
                <button mat-button color="primary" (click)="editServer(server)"><i
                        class="material-icons">edit</i></button>
                <button mat-button color="warn" (click)="removeServer(server)"><i
                        class="material-icons">clear</i></button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Paths
            <button mat-button color="primary" (click)="addPath()">
                <i class="material-icons">add</i>
            </button>
        </mat-expansion-panel-header>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let path of root.appPaths">
                {{path.name ? path.name : 'New path' }}
                <button mat-button color="primary" (click)="editPath(path)"><i class="material-icons">edit</i></button>
                <button mat-button color="warn" (click)="removePath(path)"><i class="material-icons">clear</i></button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<!-- Implement this when all basic openapi spec is ready -->
<!-- <p>
    Tag groups
    <button mat-button color="primary" (click)="addGroup()">
        <i class="material-icons">add</i>
    </button>
</p>
<div class="list-group">
    <div class="list-group-item" *ngFor="let group of root.tagGroups">
        {{group.name ? group.name : 'New group' }}
        <button mat-button color="primary" (click)="editGroup(group)" ><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="removeGroup(group)"><i class="material-icons">clear</i></button>
    </div>
</div> -->